<div class="adminSidebarOptionsContainer">
  <img class="adminAlphitterLogo" src="https://i.imgur.com/RkfRCKR.png" alt="Admin Alphitter Logo">
  <a class="adminTweetsRoute" href="/admin/tweets">
    <img class="adminTweetsListLogo" src="https://i.imgur.com/llVjn9n.png" alt="Admin Tweets Logo">
  </a>
  <h5 class="adminTweetsList">推文清單</h5>
  <a class="adminUsersRoute" href="/admin/users">
    <img class="adminUsersListLogo" src="https://i.imgur.com/tG7947j.png" alt="Admin Users Logo">
  </a>
  <h5 class="adminUsersList">使用者列表</h5>
  <a class="AdminLogoutRoute" href="/admin/logout">
    <img class="adminLogoutLogo" src="https://i.imgur.com/Vxiq1AZ.png" alt="Admin Logout Logo">
  </a>
  <h5 class="adminLogout">登出</h5>
</div>