<div class="wrapper d-flex">
  {{>modals}}
  {{>profile-modals}}
  {{>left-content-private}}

  <div class="chat-container">
    <header class="chat-header">
      <h1></h1>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar">
        <h3>Messages</h3>
        <ul id="users">
          {{!-- 使用者清單 --}}
        </ul>
      </div>
      <div class="chat-messages">
      </div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
        <button class="send">Send</button>
      </form>
    </div>
  </div>

</div>