<div class="wrapper d-flex" style="height:100%;">
  {{>left-content-public}}
  <div class="container" style="border: 1px solid #E6ECF0;">
    <div class="row">

      <!-- 左: online users -->
      <div class="col-md-4 p-0" style="border: 1px solid #E6ECF0; width: 35%; height: 100vh;">
        <p style="font-weight: 700; font-size: 24px; line-height: 26px; margin:15px;">上線使用者 ({{!--onlineUser.length--}})
        </p>
        <ul class="list-group" style="margin-left: 0px;">
          {{!-- {{#each onlineUser}} --}}
          <li class="list-group-item">
            <img src="{{currentUser.avatar}}" alt="avatar" style="border-radius: 50%; height: 40px; width:40px;">
            <span>{{currentUser.name}}</span> <span>@{{currentUser.account}}</span>
          </li>
          <li class="list-group-item">
            <img src="{{currentUser.avatar}}" alt="avatar" style="border-radius: 50%; height: 40px; width:40px;">
            <span>測試用</span> <span>@測試用</span>
          </li>

          {{!-- {{/each}} --}}
        </ul>
      </div>


      <!-- 右: chatroom-public -->
      <div class="col-md-4" style="border: 1px solid #E6ECF0; width: 65%; height: 100vh; margin: 0px; padding: 0px;">
        <p style="font-weight: 700; font-size: 24px; line-height: 26px; margin:15px;">公開聊天室</p>
        <hr class="mb-2">
        <div class="" style="height: 90vh;">
          <ul class="" id="messages">
            {{!-- 對話訊息放這 --}}
            <li>測試文字</li>
            <li>test</li>
          </ul>
          <form id="form" action="">
            <input id="input" autocomplete="off" /><button>Send</button>
          </form>
        </div>
      </div>

    </div> <!-- /.row -->
  </div>
</div>