a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(83, 81, 81);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}


/* 中間index區域 */
.index {
  width: 652px;
  left: 332px;
  top: 1px;
  border-left: 1px solid;
  border: 1px solid #E6ECF0;
  padding: 0px;
}


#header {
  margin-top: 25px;
  margin-left: 0px;
  padding-bottom: 25px;
  padding-left: 25px;
  border-bottom: 1px solid #E6ECF0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #171725;
}

.post-tweet {
  /* width: 639px; */
  height: 130px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 25px;
}

#placeholder {
  position: absolute;
  top: 15px;
  left: 83px;
}

.post-tweet {
  position: relative;
  margin: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #6C757D;
  border-bottom: 8px solid rgb(209, 203, 203);
}

#tweet-button {
  position: absolute;
  bottom: 16px;
  right: 25px;
  color: #FFFFFF;
  background: var(--dark-color-a);
  width: 80px;
  height: 40px;
  border: none;
}

/* 全部推文內容 */
#postPanel {
  margin-top: 16px;
  width: 639px;
}

.each-post {
  width: 528px;
  margin-bottom: 32px;

}

.avatar-block {
  width: 62px;
  padding: 0px;
}

.post-avatar {
  margin-left: 12px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-name {
  font-family: 'Noto Sans TC';
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #171725;
}

.user-account {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.post-button {
  color: #6C757D;
}


.likes {
  display: inline;
  border: none;
  background-color: transparent;
}

.description {
  font-size: 24px;
}

.dashboard {
  border-top: 1px solid #E6ECF0;
  margin-top: 8px;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
}

.tweet-button {
  border: none;
  width: 80px;
  height: 40px;
  color: #FFFFFF;
  background: var(--dark-color-a);
  border-radius: 50px;
}

.tweet-button:hover {
  color: #FFFFFF;
}


/* tweet單一分頁 */
.reply-index {
  width: 1022px;
  top: 1px;
  border-left: 1px solid;
  border: 1px solid #E6ECF0;

}


#reply,
#likes {
  width: 15px;
  height: 15px;
  margin: 0px 5px;
}

#button-likes {
  padding-right: 0px;
}

.reply-userAccount {
  color: #6C757D;
}

.tweet-avatar {
  top: 16px;
  left: 16px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.reply-author {
  color: var(--dark-color-a);
}

.created-time {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  margin-top: 8px;
}

.row-reaction {
  border-bottom: 1px solid #E6ECF0;
  border-top: 1px solid #E6ECF0;
  margin-top: 8px;
}

.reply-title {
  font-family: 'Noto Sans TC';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6C757D;
}

.reply-reply {
  margin-top: 8px;
}

.reply-description {
  font-family: 'Noto Sans TC';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #171725;
}


/* chatroom */
:root {
  --dark-color-a: #FF6600;
  --dark-color-b: #f2833a;
  --light-color: #fff5eb;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

.send {
  cursor: pointer;
  /* padding: 5px 15px; */
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}

/* Chat Page */
.chat-container {
  max-width: 1100px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden;
}

.chat-header {
  background: var(--dark-color-a);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: var(--dark-color-b);
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul {
  padding: 10px 0;
}

.chat-messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
}

.chat-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}

.system-message {
  color: black;
  background-color: rgb(207, 207, 207);
  border-radius: 10px;
  height: 25px;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}